h2 Recover Password
form(action='/recover_pass', method='post')
   | Access Token :
   input(type='text', name='id')
   br
   | New Password :
   input(type='password', name='newpass')
   br
   | Confirm Password :
   input(type='password', name='cnewpass')
   br
   input(type='submit',value='Change')
   br
