h2 Add Row
form(action='/add_row', method='post')
    | Username :
    input(type='text', name='name')
    br
    | Password :
    input(type='password', name='pass')
    br
    | Email :
    input(type='text', name='email')
    br
    input(type='submit',value='Sign Up')
    br
h2 Display
form(action='/display', method='post')
    input(type='submit',value='Display data')
    br
h2 Login
form(action='/login', method='post')
    | Username :
    input(type='text', name='name')
    br
    | Password :
    input(type='password', name='pass')
    br
    input(type='submit',value='Login')
    br
h2 Change Password
form(action='/change_pass', method='post')
    | Username :
    input(type='text', name='name')
    br
    | Password :
    input(type='password', name='pass')
    br
    | New Password :
    input(type='password', name='newpass')
    br
    | Confirm Password :
    input(type='password', name='cnewpass')
    br
    input(type='submit',value='Change')
    br
h2 Forget Password
form(action='/forget_pass', method='post')
    br
    | Email :
    input(type='text', name='email')
    br
    input(type='submit',value='Login')
    br
